.vscode
venv/
*.pyc
*.egg-info
*.egg
*build/
.tox
.coverage
*.DS_Store
*.sass-cache
*.map
.ropeproject/
.ruby-version
dist/
bower_components/
include/
lib/
local/
node_modules
npm-debug.log
pip-selfcheck.json
sphinx_veldus_theme/static/fonts/Lato/
sphinx_veldus_theme/static/fonts/RobotoSlab/
.python-version
.node-version
sphinx_veldus_theme/static/js/html5shiv.min.js
sphinx_veldus_theme/static/js/html5shiv-printshiv.min.js
